@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@300;400;500;600;700&display=swap');
/* BEGIN RESET CSS */

:root {
    /* color */
    --white-color: #fff;
    --background-green: #3BB77E;
    --background-card : #DEF9EC;
    --background-origin : #FDC040;

    /* % */
    --percent50: 50%;
    --percent100: 100%;

    /* fontweight */
    --fw8: 800;
    --fw7: 700;
    --fw6: 600;
    --fw5: 500;
    --fw3: 300;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand";
    font-size: 16px;

}

ul {
    list-style: none;
    margin: 0;
}
p{
    margin: 0;
}
img {
    width: var(--percent100);
    height: var(--percent100);
    vertical-align: middle;
    object-fit: cover;
}

a {
    text-decoration: none;
    /* Reset lại màu mặc định */
    color: initial;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

input::placeholder {
    /* kế thừa cha chứa nó */
    font: inherit;
}
.text_small{
    font-size: 16px;
    font-weight: var(--fw7);
}
.hover_green:hover {
    color: var(--background-green);
    cursor: pointer;
}
.div_empty:empty {
    padding: 0;
    margin: 0;
    }
.boder_bottom {
    border-bottom: 1px solid #ececec;
}
.title_h1{
    font-size: 32px;
    font-weight: var(--fw7);
    color: #253D4E;
    margin-bottom: 0;
}
.selling_card{
    border-radius: 15px;
    overflow: hidden;
    border: none;
    position: relative;
}
.selling_body{
    position: absolute;
    transform: translateX(0px) translateY(40px);
    padding: 0px 20px 0px 20px;
}
.selling_title{
    font-size: 30px;
    color: #253D4E;
    margin-bottom: 70px;
    text-align: left;
    transition: all 0.3s ease;
    font-weight: var(--fw7);
}
.selling_title:hover{
    transform: translateY(-10px);
}
.sell_card{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ececec;
}

.sell_title{
    height: 46px;
    font-size: 16px;
    font-weight: var(--fw6);
    margin-bottom: 8px;
    font-family: "Montserrat";
    transition: all 0.5s ease;
    text-align: left;
    color: #253D4E;
    line-height: 23px;
}
.sell_line{
    margin: 5px 0;
    height: 5px;
    width: 100%;
    position: relative;
    background-color: #e9e8e8;
}
.sell_line::before{
    content: "";
    position: absolute;
    width: 65%;
    height: 5px;
    background-color: var(--background-green);
    left: 0;
    top: 0;
}
.sell_status{
    padding: 5px 0 10px;
}
.sell_btn{
    width: 100%;
    text-align: center;
    font-size: 14px;
    background-color: var(--background-green);
    height: 40px;
    border-radius: 5px;
    font-weight: var(--fw5);
    transition: all 0.5s ease;
    border: none;
    color: var(--white-color);
    font-family: "Montserrat";
}
/* END RESET CSS */

/* Header - Đạt */

.header_main{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo > a{
    background-image: url("/picter/img/logo/logo.png");
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    width: 180px;
    height: 55px;
    top: unset;
    left: unset;
    display: block;
}
.header_search{
    width: 700px;   
}
.header_input{
    background-color: var(--background-search);
}

.btn_drop{
    background-color:#F4F6FA;
    border-right: 1px solid #e9e8e8;
    font-size: 14px;
    color: #253D4E;
    font-weight: var(--fw7);
    line-height: 36px;
}
.btn_drop:hover{
    background-color: #F4F6FA;
}
.input_search{
    background-color: #F4F6FA;
    outline: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: var(--fw5);
    text-align: left;
}
.input_search:focus {
    box-shadow: none;
    border-color:var(--background-green);
}
.btn_search{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F4F6FA;
        width: 50px;
        border-radius: 0px 4px 4px 0px;
        font-size: 20px;
        color: #7E7E7E;
        cursor: pointer;
}
.header_user{
    display: flex;
    align-items: center;
}
.user_langue{
    display: flex;
    width: 70px;
    height: 25px;
    margin-right: 10px;
}
.user_langue > a{
    border-radius: 50px;
    margin-right: 10px;
    overflow: hidden;
    height: 100%;
}
.user_langue > a > img{
    vertical-align: top;
    height: 100%;
}
.user_profile > a{
    position: relative;
    width: 45px;
    color: #696969;
    font-size: 25px;
    margin-right: 10px;
}
.user_profile > a > .user_item{
    position: absolute;
    display: none;
    z-index: 10;
    background-color: var(--white-color);
    right: 0;
    box-shadow: rgb(0 0 0 / 5%) 5px 5px 15px;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    width: 200px;
}
.user_profile>a>.user_item.active{
    display: block;
    animation: fadeInUp 0.5s;
}
.user_item >li{
    padding: 3px 10px;
    font-weight: var(--fw5);
    color: #253D4E;
}
.user_card{
    display: flex;
    align-items: center;
    position: relative;
}
.user_card:hover .user_card-total{
    display: block;
    animation: fadeInUp 0.5s;
}
.user_card-total{
    position: absolute;
    width: 300px;
    max-height: 400px;
    z-index: 10;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: rgb(0 0 0 / 5%) 5px 5px 15px;
    border: 1px solid #ececec;
    display: none;
}
.total_product{
    overflow-y: scroll;
    max-height: 200px;
}
.total_product::-webkit-scrollbar{
    width: 4px;
}
.user_card-total > p{
    color: #7E7E7E;
    margin-bottom: 16px;
}
.buy_product{
    padding: 15px 0;
    border-radius: 0;
    
}
.buy_product > .box_img {
    width: 100%;
    height: 80px;
}
.user_total-money{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.user_total-money > p{
    font-weight: var(--fw6);
    color: #696969;
}
.user_total-money > span{
    color: var(--background-green);
    font-weight: var(--fw7);
}
.btn_total-money {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.btn_total-money .btn_total{
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    font-weight: var(--fw7);
    font-size: 14px;
    letter-spacing: 1px;
}
.btn_total-money .btn_total-left{
    color: var(--background-green);
    border: 2px solid var(--background-green);
    background-color: var(--white-color);
}
.btn_total-money .btn_total-right {
    color: var(--white-color);
    background-color: var(--background-green);
    border: 2px solid var(--background-green);
}
.btn_total-money .btn_total:hover{
    color: var(--white-color);
    background-color: var(--background-origin);
}
.user_card > a{
        width: 30px;
        color: #696969;
        font-size: 25px;
}
.user_card-number{
        width: 20px;
        height: 20px;
        background-color: var(--background-green);
        color: var(--white-color);
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }
.user_card-number.posi{
    transform: translateY(-10px) translateX(-10px);
}
nav{
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--white-color);
    padding: 15px 0;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.nav_main{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-products{
    position: relative;
    width: 260px;
    background-color: var(--background-green);
    padding: 15px;
    color: var(--white-color);
    border-radius: 4px;
    font-weight: var(--fw7);
    text-align: center;
}
.nav_list > ul{
    display: flex;
    flex-wrap: wrap;
}
.nav_list > ul > li{
    position: relative;
    padding: 15px 10px;
    color: #253D4E;
    cursor: pointer;
}
.nav_list>ul>li>ul{
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: var(--white-color);
    box-shadow: rgb(0 0 0 / 5%) 5px 5px 15px;
    border: 1px solid #ececec;
    padding: 10px 0px;
    border-radius: 10px;
    width: max-content;
    display: none;
}
.nav_list>ul>li:hover ul{
    display: block;
    animation: fadeInUp 0.5s;
}
.nav_list>ul>li:hover {
    color: var(--background-green);
}
.nav_list>ul>li>ul>li{
    padding: 8px 20px;
    color: #7E7E7E;
    font-size: 14px;
    text-transform: initial;
    
}
.nav_list>ul>li>ul>li:hover{
    color: var(--background-green);
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translate(0, 0) translate3d(0,100%,0);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0) translate3d(0, 0, 0);
    }
}

.nav_list>ul>li.hover{
    color: var(--background-green);
}
.nav_list>ul>li > i{
    padding-left: 7px;
}
.nav_hotline{
    display: flex;
    align-items: center;
}
.nav_hotline > i{
    font-size: 35px;
    color: #253D4E;
}
.nav_hotline-phone{
    padding-left: 15px;
}
.nav_hotline-phone > a{
    color: var(--background-green);
    font-size: 26px;
    font-weight: var(--fw7);
    line-height: 25px;
    text-align: center;
}
.nav_hotline-phone>p{
    font-size: 12px;
    font-weight: var(--fw5);
    letter-spacing: 1px;
    color: #7E7E7E;
}
#slide {
    padding: 20px 0;
    
}
.slide{
    border-radius: 30px;
    overflow: hidden;
}
.slide_show{
    position: relative;
}
.slide_show > img{
    border-radius: 30px;  
}
.slide_body{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 0;
    padding-left: 90px;
    transform: translateY(-50%);
}
.slide_body > h2{
    color: #253D4E;
    font-size: 50px;
    font-weight: var(--fw7);
    margin-bottom: 10px;
}
.slide_body>p{
    font-size: 23px;
    font-weight: var(--fw5);
    color: #7E7E7E;
    margin-bottom: 15px;
}
.slide_body> button{
    color: var(--white-color);
    background-color: var(--background-green);
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.slide_body > button:hover {
    color:  var(--white-color);
    background-color: var(--background-origin);
    transition: all 0.3s ease;
}

.btn_slider{
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: #F2F3F4;
    border-radius: 50px;
    color: #7E7E7E;
    font-size: 18px;
    opacity: 1;
}
.btn_slider-prev{
    left: 2%;
}
.btn_slider-back{
    right: 2%;
}
.btn_slider:hover{
    color: var(--white-color);
    background-color: var(--background-green);
}


/* PRODUCT NEW */
.productnew{
    padding-bottom: 60px;
}
.cart_product{
    border: none;
}
.title_product{
    position: relative;
    font-size: 23px;
    width: 100%;
    font-weight: var(--fw7);
    color: #253D4E;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
}
.title_product::before{
    position: absolute;
    content: "";
    background-color: var(--background-green);
    transform: translateY(1px);
    bottom: 0;
    width:80px;
    height: 2px;
}
.repeat-box{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
article {
    background-color: var(--white-color);
    border-radius: 10px;
    transition: all 0.5s ease-out;
    display: flex;
    gap: 20px;
}
article.newpro:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 15px;
    transform: translateY(-10px);
    transition: all 500ms ease;
    cursor: pointer;
}
article > .box_img{
    position: relative;
    flex-basis: 33.3333333%;
    border-radius: 10px;
    height: 132px;
    overflow: hidden;
}
    .box_discount{
    position: absolute;
    font-weight: var(--fw6);
    padding: 3px 10px;
    border-radius: 10px 0px;
    top: 0;
    left: 0;
    background-color: #ec0015;
    color: var(--white-color);
    font-size: 12px;
}

article >.box_infor{
    flex-basis: 66.6666666%;
    align-self: center;
}
.box_infor  h3 {
    height: 40px;
    color: #253D4E;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: var(--fw6);
    margin-bottom: 0;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.box_star > i {
    font-size: 12px;
    color: #888;
}
.box_infor > .box_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_cart > .box_money {
    color: #3BB77E;
}
.box_cart > span {
    color: #7E7E7E;
    margin-left: 10px;
    font-size: 13px;
    font-weight: var(--fw5);
    text-decoration: line-through;
}
.box_cart > i{
    color: var(--background-green);
    font-size: 16px;
    background-color: #DEF9EC;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.box_cart>i:hover {
    background-color: var(--background-green);
    color: var(--white-color);
}


/* HomePage */
#home_page{
    display: block;
}
#home_page.active {
    display: none;
}

/* gioi thieu */
#interduce_page{
    display: none;
}
#interduce_page.active {
    display: block;
}
/* dang ki */
#signup_page {
    display: none;
}
#signup_page.active {
    display: block;
}

/* liên hệ */

#contact_page{
    display: none;
}
#contact_page.active {
    display: block;
}

.gridSignUp{
    display:grid;
    gap:50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.signUp_container{
    padding: 50px 0;
}
.signUp_page{
    display:flex;
    flex-direction: column;
    gap:24px ;
}
.page{
    border:1px solid black;
    border-radius: 5px;
    width:100%;
    margin-top:0;
    padding :10px;
    display:flex;
    gap: 10px;
    position: relative;

}
.pct{
    
    border-radius: 20px;
}
.get{
   width:600px;
    border:none;
    outline: none;
}
.min{
    padding-left:10px;
   
}
.bu{
    color:#ec0015;
   
    position: absolute;
    top:12px;
}
.a
{
    border:none;
}
.b{
   
    border:none;
   
    display:flex;
    gap:20px;
}
.link{
    color:#00bc7f;
    font-size: 16px;
    font-weight: 600;
}
.log{
    font-size: 18px;
    width:180px;
    border:none;
    border-radius: 5px;
    background-color: #00bc7f;
    color:#fff;
    padding:15px 20px;
    transition: all 0.5s ease;
}
.log:hover{
    background-color: #FDC040;
}
.poot{
    position: absolute;
    color:#ec0015;
    font-size: 13px;
    bottom: -23px;
   
}
@media (max-width:1000px)
{
    .gridSignUp{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

/* dang nhap */
#signin_page {
    display: none;
}
#signin_page.active {
    display: block;
}
body{
    font-family: 'Quicksand';
}
/* END RESET CSS */

/* BEGIN CSS DANH MỤC CHÍNH */
.dmc{
    padding: 60px 0;
    
}
.dmc h1{
    color: #253D4E;
    font-size: 32px;
    font-weight: 700;
    margin: 0px 30px 40px 0px;
    display: block;
}
.dmc_card{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.card-img-overlay{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card-img-overlay .card-text{
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.card-dcm-top{
    height: 200px;
    background-color: #F4F6FA;
    display: flex;
    justify-content: center;
}
.card-dcm-top:hover{
    background-color: white;
    border-color: #3BB77E;
    cursor: pointer;
}

.card-img-top{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.card-title{
    text-align: center;
    font-size: 16px;
    font-weight: var(--fw7);
    color: #253D4E;
}
.card-text{
    color: black;
    margin-bottom: 30px;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: 27px;
    font-size: 20px;
}
.dmc_btn{
    color: var(--white-color);
    font-size: 13px;
    padding: 6px 15px;
    background-color: var(--background-green);
    transition: all 0.3s ease;
    font-weight: var(--fw7);
}

.dmc_btn:hover{
    background-color: #FDC040;
    color: var(--white-color);
}

.card-img-overlay .card-text:hover{
    transform: translateY(-10px);
}

.swiper-click{
    padding-top: 20px;
    width: 175px;
    bottom: -20%;
    left: 50%;
    transform: translateX(330%);
    white-space: nowrap;
    text-align: center;
    transition: .3s opacity;
    z-index: 10;
    cursor: pointer;
}
/* END CSS DANH MỤC CHÍNH */

.bgrImg{
    background-image: url(https://demo037131.web30s.vn/datafiles/web30s/upload/images/7101-7200/30S-03-7131/banner-10.png);
    background-size: cover; 
    height:100%;
    margin: 0 auto;
    border-radius:20px;
    
}
.Surrounded{ 
    width: auto;
    height:100%;
    margin: 0 auto;
    padding:70px 50px 0 50px;
    bottom:0;
    display:grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}


.Surrounded .tip{
    position: relative;
}
.lookfor{
    width: 85%;
    position:relative;
}
.search{
    width: 100%;
    padding: 20px 10px 20px 20px;
    outline: none;
    border:none;
    border-radius: 50px 0px 0px 50px;
}
.register{
    color:#fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #3BB77E;
    width: 130px;
    height: 100%;
    outline: none;
    border:none;
    border-radius: 50px;
    position: absolute;
    right: -30px;
    top:0;
    bottom:0;  
    transition: all 0.5s ease;
}
.register:hover
{
    background-color:#FDC040;
}
.Surrounded h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #253D4E;
}
.tip > p{
    font-size: 18px;
    margin-bottom: 45px;
}
.card_Surrounded{
    margin-top: 50px;
    padding: 50px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    flex-wrap: wrap;
    gap: 20px;

}
.product{
    width:100%;
    padding:20px;
    border-radius: 15px;
    background-color: #F4F6FA;
    display:flex;
    gap:20px;
}
h4{
    font-size: 15px;
    font-weight: 700;
}
.p{
    font-size: 14px;
}
.i{
    width:50px;
}
.errorMsg{
    position: absolute;
    bottom: 30px;
    font-size: 16px;
    color:red;
    font-weight:500;
}
.errorborder{
    border: 1px solid red;
}

/* PHỔ BIẾN */
.popalur{
    padding: 60px 0;
}
.popalur_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popalur_list > ul{
    display: flex;
} 
.popalur_item{
    padding: 7px 0 7px 20px;
    font-size: 16px;
    color: #253D4E;
    font-weight: var(--fw6);
}
.popalur_item.active {
    color: var(--background-green);
}
.product_popalur{
    padding-top: 40px;
}
.card_popalur{
    border-radius: 15px;
    border: 1px solid #ececec;
    overflow: hidden;
}
.poplaur_img{
    position: relative;
    height: 240px;
    padding: 20px;

}
.poplaur_img img{
    border-radius: 15px;
}
.popalur_title{
    font-weight: var(--fw6);
    font-size: 16px;
    transition: all 0.5s ease;
    margin-bottom: 8px;
    font-family: "Montserrat";
    color: #253D4E;
    text-align: left;
    line-height: 23px;
    height: 46px;
}
.card-body .cart-money{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-money > .card-text{
    color: var(--background-green);
    margin-bottom: 0;
}
/* BÁN CHẠY */
.product_selling{
    padding-bottom: 60px;
}
.seliing_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.selling_all{
    display: flex;
    align-items: center;
    color: #7E7E7E;
    font-weight: var(--fw5);
    transition: all 0.3s ease;
}
.selling_all > i{
    padding: 2px 0 0 7px;
}

.sell_carousel{
    white-space: nowrap;
    flex-wrap: nowrap;
}

.row_left{
    flex-basis: 25%;
}
.row_right {
    overflow: hidden;
    flex-basis: 75%;
}
.sell_img{
    width: 308px;
    height: 308px;
}
.sell_img > img{
    width: 100%;
}
.sell_text{
    font-size: 18px;
    font-weight: var(--fw7);
}

  /* FOOTER */
 footer {
    padding: 20px 0 60px;
 }
.footer-item{
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0px;
}
.footer-logo {
    width: 185px;
    height: 58px;
    margin-bottom: 20px;
}
.item-commit{
    margin-bottom: 15px;
}

.item-location {
    display: flex;
    color: #253D4E;
    text-align: center;
    margin-bottom: 10px;
}
.item-location .icon_location{
    align-self: flex-start;
    padding: 5px 10px 0 0;
    color: var(--background-green);
}
.footer_title{
    color: #253D4E;
    font-weight: var(--fw7);
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 22px;
}
.footer_list{
    list-style: circle;
    font-size: 15px;
    color: #696969;
    font-weight: var(--fw5);
    padding-left: 20px;
}
.footer_list > li{
    padding: 5px 0;
}
.footer-end-logo{
    width: 57px;
    height: 28px;
    margin-right: 10px;
}
.footer-end-content {
    color: #696969;
    font-size: 15px;
    text-align: center;
    font-weight: var(--fw5);
    margin-right: 10px;
}
.img-logo:hover{
    cursor: pointer;
}
.footer-end{
    height: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #3BB77E;
}
.footer-end-content:hover{
    cursor: pointer;
    color: #3BB77E;
}


@media (max-width: 840px) {
    .card_Surrounded {
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
    }
}

@media (max-width: 840px) {

    .last {
        display: none;
    }

    .list {
        padding: 0px;
    }

    .Surrounded {
        padding: 0px;
        display: block;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width:840px) and (max-width: 992px) {
    .card_Surrounded {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
    }


}

/* BEGIN CSS SIGN IN VŨ*/
#signin_page.active {
    display: block;

  }
  .signInPart{
    display:grid;
    gap:50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .contaier-signin{
    padding: 50px 0;
  }
  .Sign_title{
    color: #253D4E;
    font-size: 35px;
    font-weight: var(--fw7);
    margin-bottom: 30px;
  }

  .signInForm{
    display:flex;
    flex-direction: column;
    gap:25px ;
  }
  .SignInInf{
    border:1px solid #ececec;
    border-radius: 5px;
    width:100%;
    margin-top:0;
    padding :10px;
    display:flex;
    gap: 10px;
    position: relative;
  
  }
  .SignInPic{
    
    border-radius: 20px;
  }
  .Info{
   width:600px;
    border:none;
    outline: none;
  }
  .box{
    padding-left:10px;
   
  }
  .icon{
    color:#ec0015;
   
    position: absolute;
    top:12px;
  }
  .SignInButton{
    border:none;
    display:flex;
    gap:20px;
  }
  .login{
    font-size: 18px;
    width:180px;
    border:none;
    border-radius: 5px;
    background-color: #00bc7f;
    color:#fff;
    padding:15px 20px;
    transition: all 0.5s ease;
  }
  .login:hover{
    background-color: #FDC040;
  }
  .frame{
    position: absolute;
    color:#ec0015;
    font-size: 13px;
    bottom: -23px;
  }
  .text{
    border: white;
  }
  .forgetPass{
    color: #00bc7f;
    font-family: "Quicksand";
    font-weight: 800;
  }
  .signUpNow{
    color: #00bc7f;
    font-family: "Quicksand";
    font-weight: 800;
  }
  .linkSignUp{
    transform: translateY(-70%);
  }
  .connective{
    color: var(--white-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
  }
  .text1:hover{
    color: var(--background-origin);
  }
  .sign_btn{
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        transition: all 300ms ease;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        display: block;
        width: 100%;
  }
  .FB{
    background-color: #3b5998;
    
  }
   .ZL:hover, 
   .GG:hover,
  .FB:hover{
    background-color: #ffc107;
  }
  .GG{
    background-color: #dc4e41;
  }
  .ZL{
    background-color: #0591e9;
  }
  .connective-container{
    position: relative;
  }
  .icon-connect{
    padding-right: 5px;
  }
 /* END CSS SIGN IN */