/* BEGIN RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* color */


    /* % */
    --percent50: 50%;
    --percent100: 100%;

    /* fontweight */
    --fw8: 800;
    --fw7: 700;
    --fw6: 600;
    --fw5: 500;
    --fw3: 300;

    /* transition color */
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}

a {
    text-decoration: none;
    /* Reset lại màu mặc định */
    color: initial;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

input::placeholder {
    /* kế thừa cha chứa nó */
    font: inherit;
}
/* END RESET CSS */

